*~
*.o
*.so
*.cache
*.log
.deps
.libs
man/*.8
.dirstamp
/gummiboot
/gummiboot.so
/gummibootx64.efi
/gummibootia32.efi
/stub.so
/stubx64.efi
/stubia32.efi
/test-disk

debian/autoreconf.after
debian/autoreconf.before
debian/files
debian/gummiboot-nomachineid.substvars
debian/gummiboot-nomachineid/
linuxx64.efi.stub

Makefile
aclocal.m4
stamp-h.in
Makefile.in
configure
config.h
config.h.in
config.guess
config.status
config.sub
stamp-h
stamp-h1
m4/*.m4
config.rpath
mkinstalldirs
compile
depcomp
install-sh
missing

# wanted files
!m4/arch.m4
!debian/*.8
